## 오늘의 날씨
<div align="center">
{{ with $todayWeather := index .Weathers 0 }}

`{{ $todayWeather.City }}, {{$todayWeather.Country }} - {{ formatDate $todayWeather.StartTime $todayWeather.Timezone }}`

<img src="{{ $todayWeather.Icon}}"/>

{{ $todayWeather.Condition }}

</div>

{{template "hourly-table" $todayWeather.HourlyWeathers}}

{{- end }}

## 다음 {{ len .Weathers }} 일간의 날씨

{{template "daily-table" .Weathers}}

*Updated at: {{formatTime .UpdatedAt}}*
