## 오늘의 날씨
<div align="center">

`{{ $.TodayWeather.City }}, {{$.TodayWeather.Country }} - {{ formatDate $.TodayWeather.StartTime $.TodayWeather.Timezone }}`

<img src="{{ $.TodayWeather.Icon}}"/>

{{ $.TodayWeather.Condition }}

</div>

{{template "hourly-table" $.TodayWeather.HourlyWeathers}}

## 다음 {{ len .Weathers }} 일간의 날씨

{{template "daily-table" .Weathers}}

*Updated at: {{formatTime .UpdatedAt}}*
